.App {
  text-align: center;
}

/* タブ関連 */
.tabs-container {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-button {
  padding: 14px 16px;
  font-size: 17px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  flex: 1;
  transition: 0.3s;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ccc;
}

.tab-content {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  flex: 1;
}

/* テーブル関連 */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightgray;
}

th:first-child,th:nth-child(2),th:nth-child(3){
  width:15%;
  min-width: 150px;
  text-align: center;
}
td:first-child,td:nth-child(2),td:nth-child(3){
  text-align: center;
}

/* エラー用 */
.error{
  color:red;
}

/* 入力フォーム */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1c9b38;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #14822e;
}
form{
  width:100%;
  padding-right:20px;
}

/* 送信前の確認画面 */
.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F2F2F2;
}

.confirmation-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.input-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.input-value {
  font-size: 18px;
  margin: 0;
}

.confirmation-button-container {
  display: flex;
  justify-content: center;
}

.confirmation-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 5px;
  transition: 0.3s;
}

.confirmation-button:hover {
  background-color: #444444;
}

.confirmation-back {
  margin-right: 20px;
}

/* エラーメッセージ */
.bathing-list{
  display:flex;
  justify-content: center;
  align-items: center;
}
.errorMsg{
  color:red;
  margin-top:0px;
  margin-bottom:16px;
  text-align: left;
}

/* 利用者一覧 */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}

th {
	background-color: lightgray;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: red;
}

